@charset "ISO-8859-1";
*{
    box-sizing:border-box;
}
/*lacaratteristiche del corpo*/
/*body {
    background-color: white;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
/*le impostazioni del container e la posizione nella pagina*/
.containerM{
    position: absolute;
    top:300%;
    left: 35%;
    background-color:#2a50c9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
    width: 30%;
}

/*le impostazioni del header con la sctitta crea utente*/
.header1{
    background-image: linear-gradient(to right,  #31e041,#2a50c9);
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}
.header h2{
    margin: 0;
    color: white;

}
/*le caratteristiche del form*/
.form{
    padding: 20px 40px;

}
.formControll{
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.formControll label{
    margin-bottom: 5px;
}
.formControll input {
    border:2px solid #f0f0f0;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
.formControll small{
    visibility:hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}
.formControll.error small{
    visibility: visible;
    position: relative;
    color: #e74c3c;
}
.form button {
    background-color:#b4b4b4;
    border: 2px solid #b4b4b4;
    border-radius: 4px;
    color:#fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
.form button:hover,button:active {
    background-color: #a09f9f;
    border: 2px solid #b4b4b4;
    border-radius: 4px;
    color:#fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
.formControll.success input {
    border-color: #2ecc71
}

.formControll.error input {
    border-color: #e74c3c;
}

label{
    color: white;
}
.form i{
    position: absolute;
    top: 58%;
    left: 57%;

}
.info{
    color: white;
}
.link{
    color: navy;
    text-decoration: none;
}
.link:hover{
    color: black;
}
@media (max-width: 668px) {
    .containerM{
        position: absolute;
        top:200%;
        left: 5%;
        background-color:#2a50c9;
        box-shadow: 0 2px 5px rgba(0,0,0,0.6);
        width: 90%;
    }

}